{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons-1.5.0/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-5.0.2/bootstrap-5.0.2/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/aos-master/dist/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.toast.css' %}">
    <link href="{% static 'images/logo.png' %}" type="shortcut icon" rel="icon">
    <title>iSTEM {% block title %} {% endblock %}</title>
</head>

<body>
{% block content %}
{% endblock %}
</body>
<script src="{% static 'vendors/aos-master/dist/aos.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/bootstrap-5.0.2/bootstrap-5.0.2/dist/js/bootstrap.min.js' %}"
    type="text/javascript"></script>
<script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/jquery/jquery-3.6.0.slim.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/code.js' %}" type="text/javascript"></script>
</body>

</html>