<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/vendors/bootstrap-icons/bootstrap-icons-1.5.0/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendors/bootstrap-5.0.2/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendors/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="../../assets/css/style.css" type="text/css" rel="stylesheet">
    <title>Description | iSTEM</title>
</head>
<body>
    
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-text-paragraph mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <a class="col-1 text-center p-0" id="logo" href="#">
                    <img src="../../assets/images/logo.png" alt="logo" class="img-fluid">
                    </a>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-layout-wtf"></i> <span>Explore</span>
                        </a>
                    </li>
                    <li>
                        <a href="../quickbuy.html" class="nav-link active quickbuy">
                            <i class="bi bi-journal-text"></i> <span>Quick Buy</span>
                        </a>
                    </li>
                    <li>
                        <a href="../quiz.html" class="nav-link">
                            <i class="bi bi-receipt-cutoff"></i> <span>Quiz</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-receipt"></i> <span>Grade</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-reception-4"></i> <span>Reports</span>
                        </a>
                    </li>
                    <li>
                        <a href="../settings.html" class="nav-link">
                            <i class="fa fa-cog"></i> <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-door-open"></i> <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>

    <!----------------------------------
        # Main
    ----------------------------------->

    <nav id="logged_in" class="d-flex justify-content-end align-items-center py-2">
        <div class="notification me-2">
            <i class="bi bi-bell-fill"></i>
        </div>
        <div class="profile_content d-flex align-items-center bg-light">
            <div class="profile_picture me-2">
                <img src="../../assets/images/profile.jpg" alt="profile_img" class="img-fluid">
            </div>
            <div class="profile_logo d-flex flex-column">
                <span id="username">Micheal Cruz</span>
                <small id="email">michealcruz&commat;domain.com</small>
            </div>
        </div>
    </nav>

    
    <div class="description-main row justify-content-center p-lg-5 px-md-3 col-12 g-0">
        <!---------------------------------
            # Book Description
        ---------------------------------->
        <div class="description col-md-7">
            <div class="book-cover">
                <div class="overlay"></div>
                <img src="../../assets/images/book-covers/cover-3.jpg" alt="book-cover">
            </div>
            <div class="book_content">
                <div class="header my-4">
                    <h3>Book Description</h3>
                </div>
                <div class="details ">
                    <!-- 150 words -->
                    <!-- truncate function -->
                    <p truncate-words>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, et magni! 
                        At minima dicta soluta delectus libero,
                        commodi ex! Nostrum enim eveniet modi inventore doloremque, nemo porro delectus. 
                        Voluptates doloribus nisi id quisquam, nostrum omnis consequuntur tempore quaerat
                        laboriosam corporis libero saepe dolorum tenetur numquam recusandae 
                        rerum veniam harum in! Ipsa, esse, odio aspernatur ratione et, qui assumenda
                        illo unde eius quod labore aliquid vitae cumque blanditiis dolorum voluptate amet!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, et magni! 
                        At minima dicta soluta delectus libero,
                        commodi ex! Nostrum enim eveniet modi inventore doloremque, nemo porro delectus. 
                        Voluptates doloribus nisi id quisquam, nostrum omnis consequuntur tempore quaerat
                        laboriosam corporis libero saepe dolorum tenetur numquam recusandae 
                        rerum veniam harum in! Ipsa, esse, odio aspernatur ratione et, qui assumenda
                        illo unde eius quod labore aliquid vitae cumque blanditiis dolorum voluptate amet!
                    </p>
                    
                </div>
            </div>
            <div class="download">
                <button type="submit" class="download_btn btn">Download Now</button>
            </div>
        </div>

        <!---------------------------------
            # Related Search
        ---------------------------------->
        <div class="related_search col-md-5 px-md-3 ps-md-4 px-2">
            <div class="header">
                <h3>Related Topics</h3>
            </div>
            <div class="related-search-content d-flex flex-column mt-4">
                <div class="d-flex justify-content-between">
                    <div class="book-cover col-5"></div>
                    <div class="content ms-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Saepe hic quae temporibus ipsam nam ex accusantium!
                        </p>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="book-cover col-5"></div>
                    <div class="content ms-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Saepe hic quae temporibus ipsam nam ex accusantium!
                        </p>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="book-cover col-5"></div>
                    <div class="content ms-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Saepe hic quae temporibus ipsam nam ex accusantium!
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script src="../../assets/js/code.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>
</html>