<div class="account_header text-start d-flex flex-column">
    <h3>Profile</h3>

    <small class="text-muted">
        This information belongs to you it's advisable you don't share it with anyone
    </small>

</div>
<div class="row account_row justify-content-center align-items-center g-0" getxhr>
    
    <div class="profile_picture col-md-6 col-sm-8 col-12">
        <div>
            <img src="../assets/images/profile.jpg" alt="profile_picture" class="img-fluid">
        </div>
        <div class="profile-name d-flex flex-column align-items-center pt-3">
            <span class="fw-bold fs-4" id="name">Micheal Cruz</span>
            <small id="email">michealcruz&commat;domain.com</small>
        </div>
        <div class="icon_badge">
            <i class="fa fa-camera profile_badge"></i>
        </div>
    </div>

    <div class="profile_content col-md-6 col-sm-10 col-12">
        <form>
            <div class="input-group mb-3">
                <label for="first-name">First Name</label>
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" class="form-control" id="first-name">
            </div>

            <div class="input-group mb-3">
                <label for="last-name">Last Name</label>
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" class="form-control" id="last-name">
            </div>
            
            <div class="input-group mb-3">
                <label for="Email">Email</label>
                <div class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </div>
                <input type="email" class="form-control" id="Email">
            </div>

            <div class="input-group mb-3">
                <label for="grade">Choose Of Grades</label>
                <select class="form-control" id="grade">
                    <option>Grade</option>
                    <option>Grade</option>
                    <option>Grade</option>
                </select>
                <div class="input-group-text">
                    <i class="bi bi-chevron-down"></i>
                </div>
            </div>

            <div class="input-group changes mt-3">
                <input type="submit" value="Save Changes">
            </div>
            

        </form>
        
    </div>
    

</div><!-- row -->