<div class="account_header text-start d-flex flex-column">
    <h3>Notifications</h3>

    <small class="text-muted fw-bold">
        Important notifications will be sent through your mail.
    </small>

</div>
<div class="row account_row justify-content-center align-items-center g-0" getxhr>
    <div class="notifications-box">
        <div class="notification p-4 ps-0 pe-3 d-flex justify-content-between">
            <div class="col-md-6 col-9">
                <h5 class="mb-2">Policy Update</h5>
                <small>
                    Easily launch live assignments, quizzes and tests.
                    Student results are automatically entered in the
                    online gradebook. 
                </small>
            </div>
            <div class="form-check form-switch col-2">
                <input type="checkbox" class="form-check-input" checked disabled>
            </div>
        </div> <!-- notification -->
        
        <div class="notification p-4 ps-0 pe-3 d-flex justify-content-between">
            <div class="col-md-6 col-9">
                <h5 class="mb-2">Reminder</h5>
                <small>
                    Easily launch live assignments, quizzes and tests.
                    Student results are automatically entered in the
                    online gradebook. 
                </small>
            </div>
            <div class="form-check form-switch col-2">
                <input type="checkbox" class="form-check-input" checked>
            </div>
        </div> <!-- notification -->

        <div class="notification p-4 ps-0 pe-3 d-flex justify-content-between">
            <div class="col-md-6 col-9">
                <h5 class="mb-2">Encrypt Files</h5>
                <small>
                    Easily launch live assignments, quizzes and tests.
                    Student results are automatically entered in the
                    online gradebook. 
                </small>
            </div>
            <div class="form-check form-switch col-2">
                <input type="checkbox" class="form-check-input">
            </div>
        </div> <!-- notification -->

        <div class="notification p-4 ps-0 pe-3 d-flex justify-content-between">
            <div class="col-md-6 col-9">
                <h5 class="mb-2">Hidden Policy Updates</h5>
                <small>
                    Easily launch live assignments, quizzes and tests.
                    Student results are automatically entered in the
                    online gradebook. 
                </small>
            </div>
            <div class="form-check form-switch col-2">
                <input type="checkbox" class="form-check-input">
            </div>
        </div> <!-- notification -->

    </div>
</div>