<div class="account_header text-start d-flex flex-column">
    <h3>Security</h3>
    <small class="text-muted">
        This information belongs to you it's advisable you don't share it with anyone
    </small>
</div>
<div class="row account_row justify-content-center align-items-center g-0" getxhr>
    <div class="profile_content col-md-6 col-sm-10 col-12">
        <form class="mt-5 security-form">
            <div class="input-group mb-3">
                <label for="new-pass">New Password</label>
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" class="form-control" id="new-pass" validate>
            </div>
  
            <div class="input-group mb-3">
                <label for="confirm-pass">Confirm Password</label>
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" class="form-control" id="confirm-pass" id="lock" validate>
            </div>
            
            <div class="input-group changes mt-3">
                <input type="submit" value="Save Changes">
            </div>
        </form>
      </div>
</div>