{% extends 'base.html' %}
{% load static %}
{% block title %} - Verify Account {% endblock %}

{% block content %}

        <section class="container-fluid auth-section d-flex justify-content-center align-items-center g-0">
            <div class="auth-email text-center">
                <div class="header-icon">
                    <i class="bi bi-envelope"></i>
                    <h2>Verify Your Email</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ipsa et unde, ipsum consectetur temporibus modi nam eligendi consequatur sed expedita?
                    </p>
                </div>
                <div class="mt-md-5 mt-2">
                    <a href="#" class="btn col-8">Verify Your Email</a>
                </div>
            </div>
        </section>

{% endblock %}