{% extends 'base.html' %}
{% load static %}
{% block title %} Verify Email - Contact Dev Team {% endblock %}

{% block content %}
   

    <section class="container-fluid auth-section d-flex justify-content-center align-items-center g-0">
        <div class="auth-email text-center">
            <div class="header-icon">
                <i class="bi bi-cloud-lightning-rain-fill"></i>
                <h2>Oops this link has expired</h2>
            </div>
            <div>
                <p>
                    But not to worry, you can contact our dev team for support just click the button below,<br>
                    and our dev team will be sure to get you back on track.
                </p>
            </div>
            <div class="mt-md-5 mt-2">
                <a href="#" class="btn col-8">Contact Dev Team</a>
            </div>
        </div>
    </section>

{% endblock %}