<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/vendors/bootstrap-icons/bootstrap-icons-1.5.0/bootstrap-icons.css" rel="stylesheet">
        <link href="../assets/vendors/bootstrap-5.0.2/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/vendors/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
        <link href="../assets/css/style.css" rel="stylesheet">
        <!-- <link href="../Password Updates/Forgot_Password/css/style.css" type="text/css" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
        <title>Forgot Password | iSTEM</title>
    </head>
    <body>
        <section class="container-fluid g-0 justify-content-center align-items-center p-0">
            <div class="row justify-content-center align-items-center g-0">
                <div class="col-lg-5 col-md-7 justify-content-center align-items-center welcomeStat">
                    <div class="text-start header">
                        <div id="headerImgdiv">
                            <a href="../index.html"><img src="../assets/images/logo.png" alt="logo" class="logo"></a>
                        </div>
                        <div class="textDiv">
                            <h1>Welcome to <br>iSTEM Online<br> Learning Platform</h1><!-- sort this out! -->
                        </div>                        
                    </div>
                    <div class="imgDiv d-none d-lg-block">
                        <img src="../assets/images/auth_vector.png" alt="img">
                    </div>
                </div><!-- welcome stat ends here.. -->

                <form class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center" id="form">
                    <div class="form justify-content-center align-items-center mt-5" id="main-form" name="myForm">


                        <div id="inp-div">
                            <label for="email" class="form-label fw-bold labels">Enter Your Email Address</label>
                            <div class="input-group">
                                <div class="input-group-text" id="input-group2">
                                    <span class="bi bi-envelope" id="icon"></span>
                                </div>
                                <input type="email" class="form-control" placeholder="EstherRoma@example.com" id="email" validate>
                            </div>
                        </div>

                        <div class="btnDiv mt-4 text-center">
                            <input type="submit" id="signBtn" value="Send Me Instructions">
                        </div>

                        <div class="mt-4" id="anchText">
                            <a href="login.html">Back to sign in</a>
                        </div>

                       

                    </div><!-- main form ends.. -->
                </form>
                
            </div><!--main row -->

        </section><!-- main container -->









        <script src="../assets/js/code.js" type="text/javascript"></script>
    </body>
</html>