<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/vendors/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/vendors/bootstrap-icons/bootstrap-icons-1.5.0/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendors/bootstrap-5.0.2/bootstrap-5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendors/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet">
    <title>Quiz | iSTEM</title>
</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-text-paragraph mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <a class="col-1 text-center p-0" id="logo" href="#"><img src="../assets/images/logo.png" alt="logo" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li>
                        <a href="explore.html" class="nav-link">
                            <i class="bi bi-layout-wtf"></i> <span>Explore</span>
                        </a>
                    </li>
                    <li>
                        <a href="quickbuy.html" class="nav-link quickbuy">
                            <i class="bi bi-journal-text"></i> <span>Quick Buy</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link active">
                            <i class="bi bi-receipt-cutoff"></i> <span>Quiz</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-receipt"></i> <span>Grade</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-reception-4"></i> <span>Reports</span>
                        </a>
                    </li>
                    <li>
                        <a href="settings.html" class="nav-link">
                            <i class="fa fa-cog"></i> <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="bi bi-door-open"></i> <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header>

    <main id="main" class="bg-light">
        <nav id="logged_in" class="d-flex justify-content-end align-items-center py-2">
            <div class="notification me-2">
                <i class="bi bi-bell-fill"></i>
            </div>
            <div class="profile_content d-flex align-items-center bg-light">
                <div class="profile_picture me-2">
                    <img src="../assets/images/profile.jpg" alt="profile_img" class="img-fluid">
                </div>
                <div class="profile_logo d-flex flex-column">
                    <span id="username">Micheal Cruz</span>
                    <small id="email">michealcruz&commat;domain.com</small>
                </div>
            </div>
        </nav>

        <section class="container-fluid quiz_gateway">
            <div class="row justify-content-center align-items-center g-3">
                <div class="d-flex flex-column text-center quiz_locked col-3">
                    <h3 class="mt-3">WEEK ONE</h3>
                    <div class="text-end" locked>
                        <i class="bi bi-lock"></i>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <script src="../assets/js/code.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/vendors/bootstrap-5.0.2/bootstrap-5.0.2/dist/js/bootstrap.bundle.js"></script>
</body>
</html>